CONFIG_TARGET_layerscape=y
CONFIG_TARGET_layerscape_armv8_64b=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frdm=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frdm=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frwy-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frwy-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-frwy=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-frwy=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-frwy-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-frwy-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1012a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1012a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1028a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1028a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1028a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1028a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls2088a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls2088a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_lx2160a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_lx2160a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_lx2160a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_lx2160a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_traverse_ls1043=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_traverse_ls1043=""
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_BUSYBOX_CONFIG_ARP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_MDEV_CONF=y
CONFIG_BUSYBOX_CONFIG_FEATURE_MDEV_EXEC=y
CONFIG_BUSYBOX_CONFIG_FEATURE_MDEV_LOAD_FIRMWARE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_MDEV_RENAME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_MDEV_RENAME_REGEXP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TASKSET_FANCY=y
CONFIG_BUSYBOX_CONFIG_FLASH_ERASEALL=y
CONFIG_BUSYBOX_CONFIG_IFENSLAVE=y
CONFIG_BUSYBOX_CONFIG_MDEV=y
CONFIG_BUSYBOX_CONFIG_MKFS_VFAT=y
CONFIG_BUSYBOX_CONFIG_MPSTAT=y
CONFIG_BUSYBOX_CONFIG_TASKSET=y
CONFIG_BUSYBOX_CONFIG_VCONFIG=y
CONFIG_BUSYBOX_CONFIG_WATCH=y
CONFIG_BUSYBOX_CONFIG_WATCHDOG=y
# CONFIG_FEED_luci is not set
# CONFIG_FEED_packages is not set
# CONFIG_FEED_routing is not set
# CONFIG_FEED_telephony is not set
# CONFIG_KERNEL_AIO is not set
CONFIG_KERNEL_ARM_PMU=y
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_FANOTIFY is not set
# CONFIG_KERNEL_FHANDLE is not set
# CONFIG_KERNEL_NAMESPACES is not set
CONFIG_KERNEL_PERF_EVENTS=y
# CONFIG_KERNEL_SECCOMP is not set
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_NPN=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-stty=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_i2c-tools=y
CONFIG_PACKAGE_ip-bridge=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iperf=y
CONFIG_PACKAGE_ipsec-tools=y
CONFIG_PACKAGE_iputils-ping=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-authenc=y
CONFIG_PACKAGE_kmod-crypto-cbc=y
CONFIG_PACKAGE_kmod-crypto-deflate=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-echainiv=y
CONFIG_PACKAGE_kmod-crypto-hash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-manager=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-null=y
CONFIG_PACKAGE_kmod-crypto-pcompress=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-sha1=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-crypto-wq=y
CONFIG_PACKAGE_kmod-e1000e=y
CONFIG_PACKAGE_kmod-ipsec=y
CONFIG_PACKAGE_kmod-ipsec4=y
CONFIG_PACKAGE_kmod-ipsec6=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-iptunnel6=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-pps=y
CONFIG_PACKAGE_kmod-ptp=y
CONFIG_PACKAGE_libbfd=y
CONFIG_PACKAGE_libbz2=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcomerr=y
CONFIG_PACKAGE_libdw=y
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libext2fs=y
CONFIG_PACKAGE_libfdisk=y
CONFIG_PACKAGE_libi2c=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libopcodes=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libss=y
CONFIG_PACKAGE_libunwind=y
CONFIG_PACKAGE_objdump=y
CONFIG_PACKAGE_partx-utils=m
CONFIG_PACKAGE_perf=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_uclibcxx=y
CONFIG_PACKAGE_zlib=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_ROOTFS_PARTSIZE=256
