CONFIG_TARGET_layerscape=y
CONFIG_TARGET_layerscape_armv8_64b=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frdm=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frdm=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frwy-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frwy-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1012a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1012a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls2088a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls2088a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_traverse_ls1043=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_traverse_ls1043=""
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ALL_PROFILES=y
