CONFIG_TARGET_layerscape=y
CONFIG_TARGET_layerscape_armv8_64b=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frdm=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frdm=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frwy-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1012a-frwy-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-frwy=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-frwy=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-frwy-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-frwy-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1012a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1012a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1028a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1028a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1028a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1028a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1043a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1046a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls1088a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_ls2088a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_ls2088a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_lx2160a-rdb=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_lx2160a-rdb=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_fsl_lx2160a-rdb-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_fsl_lx2160a-rdb-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv8_64b_DEVICE_traverse_ls1043=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv8_64b_DEVICE_traverse_ls1043=""
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
# CONFIG_KERNEL_AIO is not set
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_FANOTIFY is not set
# CONFIG_KERNEL_FHANDLE is not set
# CONFIG_KERNEL_NAMESPACES is not set
# CONFIG_KERNEL_SECCOMP is not set
CONFIG_PACKAGE_libblkid=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libsmartcols=m
CONFIG_PACKAGE_libuuid=m
CONFIG_PACKAGE_partx-utils=m
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_ROOTFS_PARTSIZE=256
