CONFIG_TARGET_layerscape=y
CONFIG_TARGET_layerscape_armv7=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_layerscape_armv7_DEVICE_fsl_ls1021a-iot-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv7_DEVICE_fsl_ls1021a-iot-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv7_DEVICE_fsl_ls1021a-twr=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv7_DEVICE_fsl_ls1021a-twr=""
CONFIG_TARGET_DEVICE_layerscape_armv7_DEVICE_fsl_ls1021a-twr-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv7_DEVICE_fsl_ls1021a-twr-sdboot=""
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ALL_PROFILES=y
