CONFIG_TARGET_layerscape=y
CONFIG_TARGET_layerscape_armv7=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_layerscape_armv7_DEVICE_fsl_ls1021a-iot-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv7_DEVICE_fsl_ls1021a-iot-sdboot=""
CONFIG_TARGET_DEVICE_layerscape_armv7_DEVICE_fsl_ls1021a-twr=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv7_DEVICE_fsl_ls1021a-twr=""
CONFIG_TARGET_DEVICE_layerscape_armv7_DEVICE_fsl_ls1021a-twr-sdboot=y
CONFIG_TARGET_DEVICE_PACKAGES_layerscape_armv7_DEVICE_fsl_ls1021a-twr-sdboot=""
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
# CONFIG_KERNEL_AIO is not set
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_FANOTIFY is not set
# CONFIG_KERNEL_FHANDLE is not set
# CONFIG_KERNEL_NAMESPACES is not set
# CONFIG_KERNEL_SECCOMP is not set
CONFIG_PACKAGE_libblkid=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libsmartcols=m
CONFIG_PACKAGE_libuuid=m
CONFIG_PACKAGE_partx-utils=m
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_ROOTFS_PARTSIZE=256
